html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

/* from (sort of) https://github.com/MasterMaps/d3-slider */

.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}


/* from http://bl.ocks.org/d3noob/a22c42db65eb00d4e369*/
div.tooltip {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 20px;
    padding: 2px;
    font: 14px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


/* Map styles */
.route {
  fill: none;
}

.stop {
  fill: #306929;
  fill-opacity: 0.8;
}


.ocean, .water, .riverbank, .reservoir {
  fill: #468ba4;
  stroke: #468ba4;
}

.major_road, .minor_road, .highway, .rail {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.major_road { stroke: #776; }
.minor_road { stroke: #ccb; }
.highway { stroke: #d4b24b; stroke-width: 1.5px; }
.rail { stroke: #7de; }

/* UI panel styles */
#ui-overlay {
  position: absolute;
  z-index: 2;

  bottom: 25px;
  left: 25px;
  height: 250px;
  width: 250px;

  background-color: #FDFCF8;
  box-shadow: 0px 0px 5px 2px #39616F;
  border-radius: 2px;
  padding: 10px;
}

.ui-item {
  margin: 6px 0;
}

h3 {
  color: green;
  font-size: 18px;
  font-weight: normal;
}

#subtitle {
  font-size: 14px;
  color: #474747;
}

#route-input {
  padding: 3px;
  border: none;
  border-bottom: solid 2px green;
  font-size: 16px;
  width: 170px;
}

#reset {
  background-color: #019401;
  color: white;
  border: 1px solid #007900;
  border-radius: 4px;
  padding: 5px 11px;
  font-size: 14px;
  margin-left: 3px;
}

#route-input:focus {
  outline: none;
}

#selected-route {
  visibility: hidden;
}

#selected-text {
  margin-left: 4px;
}

#slider {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10px;
  width: 500px;
  color: green;
}



.footer {
  position: absolute;
  bottom: 8px;
  font-size: 10px;
  color: #474747;
}
