html {
  font-family: sans-serif;
  overflow: hidden;
}

body {
  margin: 0;
}

#map {
  margin-left: 290px;
}

#slider-range {
  position: absolute;
  top: 10px;
  left: 360px;
  width: 500px;
  z-index: 2;
}

.ui-slider-range {
  background: #64b164;
}

.ui-slider-pips [class*=ui-slider-pip-selected] .ui-slider-label {
  color: green;
}

/* from http://bl.ocks.org/d3noob/a22c42db65eb00d4e369*/
div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 14px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


/* Map styles */
.route {
  fill: none;
  stroke-linecap: round;
}

.stop {

}

/* UI panel styles */
#sidebar {
  position: absolute;
  height: 100%;
  width: 250px;
  z-index: 2;

  background-color: #FDFCF8;
  box-shadow: 0px 0px 5px 2px #39616F;
  padding: 10px 20px;
}

.ui-item {
  margin: 6px 0;
}

h3 {
  color: green;
  font-size: 18px;
  font-weight: normal;
}

#subtitle {
  font-size: 14px;
  color: #474747;
}

#route-input {
  padding: 3px;
  border: none;
  border-bottom: solid 2px green;
  font-size: 16px;
  width: 170px;
}

#reset {
  background-color: #019401;
  color: white;
  border: 1px solid #007900;
  border-radius: 4px;
  padding: 5px 11px;
  font-size: 14px;
  margin-left: 3px;
}

#route-input:focus {
  outline: none;
}

#stop-info {
  visibility: hidden;
}

#route-info {
  visibility: hidden;
}

#selected-text {
  margin-left: 4px;
}

#selected-routes {
  word-wrap: break-word;
}

.route-link {
  margin-right: 0.4em;
}

.footer {
  position: absolute;
  bottom: 30px;
  font-size: 10px;
  color: #474747;
}
